# Lecture 12 – Joining and Row Methods

## Data 6, Summer 2022

In [ ]:
from datascience import *
import numpy as np

## `.join`

Oftentimes, we have useful data from multiple different sources. While each of these datasets provides information on their own, they are usually more powerful when combined. So when we have multiple tables with related data, we can **join** those tables together into a single larger table.

For example, we have two tables: `phones`—which lists the prices of each phone model—and `inventory`—which shows us how many of each phone we have. 

Using `.join` we can answer the question: _If I sold all of the phones in my inventory, what would my revenue be?_

In [ ]:
phones = Table().with_columns(
    'Model', np.array(['iPhone 12', 'iPhone 12 Pro Max', 'Samsung Galaxy S21', 'OnePlus 8']),
    'Price', np.array([799, 1099, 799, 699]),
    'Screen Size', np.array([6.1, 6.7, 6.2, 6.6])
)

inventory = Table().with_columns(
    'Handset', np.array(['Samsung Galaxy S21', 'iPhone 12', 'iPhone 12', 'OnePlus 8', 'Pixel 5']),
    'Units', np.array([50, 40, 10, 100, 25]),
    'Store', np.array(['Berkeley', 'Berkeley', 'San Francisco', 'Oakland', 'Oakland'])
)

In [ ]:
phones

In [ ]:
inventory

First, let's use `tbl.join` to combine the two tables.

In [ ]:
... # Join the `phones` and `inventory` tables in the way that makes most sense

In [ ]:
... # Try switching the order of the arguments in `.join` to see if you get the same result

Notice that when we switch around the arguments to `.join`, we get the same information, just in a different order. **This will not always be the case**.

In [ ]:
store = ... # Join `phones` and `inventory` into one table
store

Using our joined table, we can calculate our revenue if we sold all of our phones.

In [ ]:
... # Create an array of the revenue for each phone model if all phones were sold

In [ ]:
... # Calculate the total revenue we would generate if we sold all of our phones

### Quick Check 1

In [ ]:
contacts = Table().with_columns(
    'Name', np.array(['Roxanne', 'Sandy', 'Stan', 'Tomas', 'Wilma']),
    'Email', np.array(['roxanne@berkeley.edu', 'sandy@nyu.edu', 'stan.vg@gmail.com', 'tomastrain@umich.edu', 'wilma@columbia.edu']),
    'Area Code', np.array([510, 212, 734, 734, 212]),
)

codes = Table().with_columns(
    'Code', np.array([212, 310, 519, 734]),
    'Region', np.array(['New York City', 'Los Angeles', 'Ontario, Canada', 'Metro Detroit'])
)

In [ ]:
contacts

In [ ]:
codes

Consider the tables `contacts` and `codes`.

1. Fill in the blanks of the code below to join the two tables in the way that feels most natural.
2. Before running your code, think about how many rows and columns will be in the resulting table.

In [ ]:
contacts.join(___, ___, ___) # Replace the blanks with your answers

### Followup

Suppose we were not careful and mistyped the Los Angeles area code 213 as 212 in the `extra_codes` table below.

In [ ]:
extra_codes = Table().with_columns(
    'Code', np.array([212, 212, 519, 734]),
    'Region', np.array(['New York City', 'Los Angeles', 'Ontario, Canada', 'Metro Detroit'])
)

In [ ]:
contacts

In [ ]:
extra_codes

Now, when we join the `contacts` table with the `extra_codes` table, we will get multiple entries for the same person. This is unnatural, but is how `.join` works!

In [ ]:
contacts.join('Area Code', extra_codes, 'Code')

### Disclaimer

When a join produces no matches between the two tables, the resulting table will be blank.

In [ ]:
# No output – because there are no matches between
# the 'Name' column in contacts and the 'Code' column in codes
contacts.join('Name', codes, 'Code')

## Other Tools

## `.row`

Since each row in a table contains values of different data types, we cannot store this information as an array (since arrays have to contain values of the same data type). Instead, Python uses a `Row` data type to store the information in rows.

In [ ]:
phones

Use can extract a particular `Row` from a table using `tbl.row(index)`. Note that this is **not** the same as `tbl.take(index)`, which returns a `Table`.

In [ ]:
... # Get the second row in `phones` as a Row object

In [ ]:
type(phones.row(1))

In [ ]:
type(phones.take(1))

In [ ]:
phones.row(1).item(1)

You _can_ convert a `Row` to an array, but it will do so by converting all values in the row to one data type. Not ideal!

In [ ]:
... # Convert the last row of `phones` to an array

## `.with_rows`

If you want to add a single row to an existing table, you can do so with `tbl.with_row(row_list)`. This table method must take a `list`, which is similar to an array but can hold values of multipledata types. We won't use this method often, but it's still good to know!

In [ ]:
... # Add a row to `phones` with the following attributes: Name:'iPhone 12 Mini', Price: 699, Screen Size: 5.8

In [ ]:
... # Add two rows to `phones` with the following attributes:
    # Row 1 - Name: 'iPhone 12 Mini', Price: 699, Screen Size: 5.8
    # Row 2 - Name: 'Moto RAZR', Price: 459, Screen Size: 3.5