# Lecture 14 â€“ Grouping and Pivoting

## Data 6, Summer 2022

In [1]:
from datascience import *
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

In [4]:
unis = Table.read_table("data/r1_with_students.csv")
unis

University                         | Number_students | Score_Result | Type                 | City          | State
Auburn University                  | 26641           | 33.4         | Public               | Auburn        | AL
Boston College                     | 12904           | 45.9         | Private (non-profit) | Chestnut Hill | MA
Boston University                  | 25662           | 68.4         | Private (non-profit) | Boston        | MA
Brandeis University                | 5375            | 50.3         | Private (non-profit) | Waltham       | MA
Brown University                   | 9391            | 70           | Private (non-profit) | Providence    | RI
California Institute of Technology | 2240            | 94.5         | Private (non-profit) | Pasadena      | CA
Carnegie Mellon University         | 13430           | 81.3         | Private (non-profit) | Pittsburgh    | PA
Case Western Reserve University    | 10654           | 60           | Private (non-profit) | Cleveland     | OH
Clemson University                 | 21436           | 30.7         | Public               | Clemson       | SC
Columbia University                | 26586           | 87           | Private (non-profit) | New York      | NY
... (86 rows omitted)

In [5]:
unis.group('State')

State | count
AL    | 3
AR    | 1
AZ    | 1
CA    | 11
CO    | 1
CT    | 2
DC    | 2
DE    | 1
FL    | 5
GA    | 4
... (29 rows omitted)

Run the following cell to load in our full dataset.

In [ ]:
cars = Table.read_table('data/models-2021.csv')

Here we'll take a subset of the rows and columns for illustration.

In [ ]:
gm = cars.where('Manufacturer', 'General Motors').select('Brand', 'Model', 'Cylinders', 'MPG').take([0, 1, 9, 16, 20, 30, 31, 35, -1]).take([1, 2, 4, 8, 5, 6, 3, 7, 0])

In [ ]:
gm

## `group`

In [ ]:
gm

### Default behavior

In [ ]:
gm.group('Brand')

In [ ]:
gm.group('Cylinders')

In [ ]:
# shuffles the rows in the table; returns a new table
cars.shuffle()

In [ ]:
cars.group('Brand').sort('count', descending = True)

### Specifying a `collect` function

In [ ]:
gm.group('Brand', np.mean)

How does this work under the hood?

In [ ]:
gm.where('Brand', 'Buick')

In [ ]:
print('mean of Cylinders: ', gm.where('Brand', 'Buick').column('Cylinders').mean())
print('mean of MPG: ', gm.where('Brand', 'Buick').column('MPG').mean())

In [ ]:
gm.where('Brand', 'Cadillac')

In [ ]:
print('mean of Cylinders: ', gm.where('Brand', 'Cadillac').column('Cylinders').mean())
print('mean of MPG: ', gm.where('Brand', 'Cadillac').column('MPG').mean())

In [ ]:
gm.where('Brand', 'Chevrolet')

In [ ]:
print('mean of Cylinders: ', gm.where('Brand', 'Chevrolet').column('Cylinders').mean())
print('mean of MPG: ', gm.where('Brand', 'Chevrolet').column('MPG').mean())

In [ ]:
gm.where('Brand', 'GMC')

In [ ]:
print('mean of Cylinders: ', gm.where('Brand', 'GMC').column('Cylinders').mean())
print('mean of MPG: ', gm.where('Brand', 'GMC').column('MPG').mean())

If you want a more concise way of doing the above:

In [ ]:
for brand in np.unique(gm.column('Brand')):
    brand_only = gm.where('Brand', brand)
    print(brand)
    print('mean of Cylinders: ', brand_only.column('Cylinders').mean())
    print('mean of MPG: ', brand_only.column('MPG').mean())
    print('\n')

What if we use other `collect` functions?

In [ ]:
gm

In [ ]:
gm.group('Brand', sum)

In [ ]:
gm.group('Brand', list)

In [ ]:
gm.group('Brand', len)

In [ ]:
gm.group('Brand', max)

### Quick Check 1

In [ ]:
cars.shuffle()

In [ ]:
# cars.group('Cylinders', ____) \
#     .where(____, 6) \
#     .column(____) \
#     .____

In [ ]:
cars.group('Cylinders', np.mean).bar('Cylinders', 'MPG mean')

## `group`ing by multiple columns

In [ ]:
cars

In [ ]:
cars.group(['Manufacturer', 'Brand']).show()

In [ ]:
cars.group(['Brand', 'Cylinders'], np.mean)

In [ ]:
cars.group(['Manufacturer', 'Brand', 'Displacement'])

## `pivot`

In [ ]:
cars.group(['Brand', 'Cylinders']).show()

In [ ]:
cars.pivot('Cylinders', 'Brand', 'MPG', np.mean)

### Quick Check 2

In [ ]:
cars

In [ ]:
# cars.pivot(___, ___, ___, ___)