In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw03.ipynb")

# Homework 3 – Advanced Table Methods

## Data 6, Summer 2022

In this homework assignment, you will use exercise your newfound table manipulation skills.

This homework is due on **Thursday, July 28th at 11:00PM**. You must submit the assignment to Gradescope. Submission instructions can be found at the bottom of this notebook. See the [syllabus](http://data6.org/su21/syllabus/#late-policy-and-extensions) for our late submission policy.

**Note:** Unlike the previous two homework assignments, most questions in this assignment will depend on all previous work. As such, it's in your best interest to work through the questions sequentially.

In [ ]:
# Run this cell.
from datascience import *
import numpy as np

import warnings
warnings.simplefilter('ignore')

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 1: UC Berkeley Admissions

<br></br>
<hr style="border: 1px solid #fdb515;" />

## Understanding the data

In this part of the homework, we will ask and answer questions about UC Berkeley's undergraduate admissions numbers for the class that entered in Fall 2020. The data we'll work with in this question comes from [this public webpage](https://www.universityofcalifornia.edu/infocenter/admissions-source-school).

Run the cell below to load in our data as a table.

In [ ]:
schools = Table.read_table('data/enrollment.csv')
schools

Each row corresponds to a high school. For each high school, we have the following information:
- `'Name'`: The name of the high school. Note, this is not unique – for instance, the top three rows of our table correspond to three different high schools all with the name `'ABRAHAM LINCOLN HIGH SCHOOL'`; one is in Los Angeles, one is in San Francisco, and one is in San Jose.
- `'City'`: The city in which the high school is. Note, only schools within the US have a valid `'City'` listed; international schools have a city of `'nan'`. (`'nan'` means "missing value".) 
- `'Region'`: The county in which the high school is if the high school is in California, or the state in which the high school is if the high school is elsewhere in the US (see `'ADLAI E STEVENSON HIGH SCHOOL'` above). Again, if the high school is not within the US, `'Region'` is `'nan'`.
- `'Applied'`: The number of students who applied to UC Berkeley from that high school for admission in Fall 2020.
- `'Admitted'`: The number of students who were admitted to UC Berkeley from that high school for admission in Fall 2020.
- `'Enrolled'`: The number of students who actually chose to attend UC Berkeley from that high school starting in Fall 2020.

**Note:** It's a good idea to have the [Python Reference Sheet](https://data6.org/su22/reference/) open while working on the assignment in the event you have any questions.

You can also easily see the documentation for a function by either:
- typing the name of the function on a new line, followed by a `?`, and running the cell
- typing the name of the function anywhere in a code cell and hitting `Shift + Tab` on your keyboard

Try it out below! Just add a `?` to the end of the line.

In [ ]:
Table.where

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 1 – Key Numbers

<br></br>

---
## Question 1a – How many students were admitted?

Suppose we're interested in determining the number of students who *applied* to UC Berkeley. We can calculate that number by finding the sum of the `'Applied'` column in our dataset like so:

In [ ]:
# This is just an example
sum(schools.column('Applied'))

**Task**: Below, assign the variable `num_admitted` to an integer corresponding to the number of students who were *admitted* to UC Berkeley in our dataset.

_Hint_: Do something similar to the example above.

<!--
BEGIN QUESTION
name: q1a
points: 1
-->

In [ ]:
num_admitted = ...
num_admitted

In [ ]:
grader.check("q1a")

---
## Question 1b – What was the overall acceptance rate?

Below, assign the variable `overall_acceptance_rate` to a float corresponding to the proportion of students who applied to UC Berkeley that were admitted.

_Hint_: Use `num_admitted` along with the example that came right before it.

<!--
BEGIN QUESTION
name: q1b
points: 1
-->

In [ ]:
overall_acceptance_rate = ...
overall_acceptance_rate

In [ ]:
grader.check("q1b")

<!-- BEGIN QUESTION -->

---
## Question 1c – Wait... what?

In **Question 1a**, you computed the number of students that UC Berkeley admitted for enrollment in Fall 2020. Scroll back up to Question 1a to look at that number, and then come back to this question.

Strangely, this [news.berkeley.edu](https://news.berkeley.edu/2020/07/16/uc-berkeleys-push-for-more-diversity-shows-in-its-newly-admitted-class/) article from July 2020 states

> Overall, UC Berkeley admitted 14,668 students as freshmen in 2019 and 15,435 for fall 2020. The admit rate remains the same as last year, at 15%.

The number that you computed in **Question 1a** is much smaller than the 15,435 figure that this article provides. But both are official University of California sources. What's going on here?

In the cell below, write a short answer to the question "**Why is the number of admitted students in our dataset less than the true number of admitted students?**" To find your answer, go to the [UC site where we got this data from](https://www.universityofcalifornia.edu/infocenter/admissions-source-school) and look for the fine print under the table. You'll find that only schools with a certain number of applicants and admitted students are represented; **your answer must mention those specific thresholds as well as why you think they may have excluded schools who don't meet the thresholds from the dataset.**

<!--
BEGIN QUESTION
name: q1c
points: 2
manual: true
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 2 – Which Schools?

Now it's time to answer questions of the form "Which schools \_\_\_\_\_"? In order to proceed, you'll need to make sure you're familiar with selecting/dropping, table sorting, and element-wise array operations.

<br></br>

---
## Question 2a – Removing columns

In this section, we're not going to worry about the city where each school is – we'll look at cities in the next section. It'll be helpful to keep around the `'Region'` column just so that we can see at a glance if a school is in-state, domestic, or international. We also need it to tell apart the three `'ABRAHAM LINCOLN HIGH SCHOOL'`s!

**Task**: Assign `schools_stats` to a new table  that contains all of the columns in `schools` except for `'City'`.

<!--
BEGIN QUESTION
name: q2a
points: 1
-->

In [ ]:
schools_stats = ...
schools_stats

In [ ]:
grader.check("q2a")

---
## Question 2b – Which school sent the most students?

The value in the `'Enrolled'` column for each high school is the number of students they sent to UC Berkeley.

Below, assign `feeders` to a table with the same columns as `schools_stats`, but with **only the 14 high schools who sent the most students to UC Berkeley**, sorted in descending order. The first five rows of your table should look like this:

| Name                         | Region        |   Applied |   Admitted |   Enrolled |
|-----------------------------:|--------------:|----------:|-----------:|-----------:|
| LOWELL HIGH SCHOOL           | San Francisco |       435 |        106 |         64 |
| IRVINGTON HIGH SCHOOL        | Alameda       |       248 |         63 |         47 |
| DOUGHERTY VALLEY HIGH SCHOOL | Contra Costa  |       430 |         78 |         39 |
| CANYON CREST ACADEMY         | San Diego     |       269 |         66 |         38 |
| PORTOLA HIGH SCHOOL          | Orange        |       175 |         57 |         30 |

_Hint_: Use the `sort` and `take` table methods

<!--
BEGIN QUESTION
name: q2b
points: 2
-->

In [ ]:
feeders = ...
feeders.show()

In [ ]:
grader.check("q2b")

---
## Question 2c – What was the acceptance rate of each school?

Right now we have the number of students who applied, were admitted, and actually enrolled from each school. We don't have the acceptance rate of students at each school, but we can easily figure that out using some array operations!

Below, assign `schools_stats_acc` to a table with the same four columns as `schools_stats` plus an additional fifth column. This fifth column should have the label `'Acceptance Rate'`, and its values should be the acceptance rates of each school, each as a decimal between 0 (no students were admitted) and 1 (all students were admitted).

There are several steps involved:
- First, create an array containing the acceptance rates for each school. This should be done in one line; remember that each column in a table is an array, and that if you divide two arrays, the division is performed element-wise (as we saw in Week 1).
- Then, use the `with_columns` method to add an `'Acceptance Rate'` column to `schools_stats`, using the array you just created. Store your result in the table `schools_stats_acc`. The `schools_stats` table should not change!
- **Note**: unlike in the previous question, you aren't supposed to sort or take the top 10.

The first few rows of your table should look like this:

| Name                        | Region        |   Applied |   Admitted |   Enrolled |   Acceptance Rate |
|----------------------------:|--------------:|----------:|-----------:|-----------:|------------------:|
| ABRAHAM LINCOLN HIGH SCHOOL | Los Angeles   |        17 |          6 |          3 |          0.352941 |
| ABRAHAM LINCOLN HIGH SCHOOL | San Francisco |       106 |         21 |         14 |          0.198113 |
| ABRAHAM LINCOLN HIGH SCHOOL | Santa Clara   |        48 |         10 |          4 |          0.208333 |
| ACADEMY OF THE CANYONS      | Los Angeles   |        45 |         15 |          6 |          0.333333 |
| ACADEMY-SAN FRAN @ MCATEER  | San Francisco |        19 |          8 |          5 |          0.421053 |


<!--
BEGIN QUESTION
name: q2c
points: 3
-->

In [ ]:
acceptance_rates = ...
schools_stats_acc = ...
schools_stats_acc

In [ ]:
grader.check("q2c")

---
## Question 2d – Which schools had the lowest and highest acceptance rate?

Now that we have a table, `schools_stats_acc`, containing the acceptance rate of each school, it's natural to ask which schools had the highest and lowest acceptance rates.

Your job below is to define two **arrays**:
- `top_5_acc`, which contains the **names** of the five schools with the highest acceptance rates, such that the first element of `top_5_acc` has the absolute highest acceptance rate, the second element has the second highest acceptance rate, and so on.
- `bottom_5_acc`, which contains the **names** of the five schools with the lowest acceptance rates, such that the first element of `bottom_5_acc` has the absolute lowest acceptance rate, the second element has the second lowest acceptance rate, and so on.

At some point, you'll need to sort `schools_stats_acc` by acceptance rate. However, how you choose to do that is up to you – you could elect to sort it in both descending and ascending order, or you could just sort it once and be creative with how you use `.take` (which you will need to use regardless).

<!--
BEGIN QUESTION
name: q2d
points: 3
-->

In [ ]:
...

top_5_acc = ...
bottom_5_acc = ...

# Don't change anything below this comment, it's just for visualization
print('Top 5 acceptance rates:')
for school in top_5_acc:
    print(school)

print('----------\nBottom 5 acceptance rates:')
for school in bottom_5_acc:
    print(school)

In [ ]:
grader.check("q2d")

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 3 – Location

In the last question, we did not use the `'City'` column from `schools`. In this question, we'll bring that information back in. Here, we're going to heavily rely on the `.where` method and the various `are` predicates, so you may want to open the [`.are` documentation](http://data8.org/datascience/predicates.html?highlight=#datascience.predicates.are).

In this question you will use `schools_acc`, with the five original columns in `schools` plus `'Acceptance Rate'` from `schools_stats_acc`.

In [ ]:
# Just run this cell
schools_acc = schools.with_columns('Acceptance Rate', schools_stats_acc.column('Acceptance Rate'))
schools_acc

---
## Question 3a – How many schools were in Los Angeles county?

Los Angeles is both the name of a city and a county, and counties correspond to regions in our dataset (at least for California high schools).

Below, assign `num_schools_lac` to the **number** of schools in our dataset that are from Los Angeles county.

_Hint: This involves using `.where` and `.num_rows`._

<!--
BEGIN QUESTION
name: q3a
points: 1
-->

In [ ]:
num_schools_lac = ...
num_schools_lac

In [ ]:
grader.check("q3a")

---
## Question 3b – How many students actually enrolled from schools in Los Angeles county?

Below, assign `num_students_lac` to the number of students who enrolled at UC Berkeley from high schools in Los Angeles county. This involves using `.where`.

*Note*: While our solution is only one line, yours doesn't have to be.

<!--
BEGIN QUESTION
name: q3b
points: 2
-->

In [ ]:
num_students_lac = ...
num_students_lac

In [ ]:
grader.check("q3b")

---
## Question 3c – Which schools in Los Angeles county sent the most students?

Below, assign `top_lac_schools` to a **table** with the same columns as `schools_acc`, but with **only the 10 high schools in Los Angeles county who sent the most students to UC Berkeley**, sorted in descending order. The first five rows of your table should look like this:

| Name                          | City             | Region      |   Applied |   Admitted |   Enrolled |   Acceptance Rate |
|------------------------------:|-----------------:|------------:|----------:|-----------:|-----------:|------------------:|
| PALISADES CHARTER HIGH SCHOOL | Pacific Palisade | Los Angeles |       221 |         46 |         26 |          0.208145 |
| ARCADIA HIGH SCHOOL           | Arcadia          | Los Angeles |       249 |         55 |         21 |          0.220884 |
| DIAMOND BAR HIGH SCHOOL       | Diamond Bar      | Los Angeles |       264 |         39 |         19 |          0.147727 |
| GRETCHEN WHITNEY HIGH SCHOOL  | Cerritos         | Los Angeles |        86 |         21 |         17 |          0.244186 |
| SANTA MONICA HIGH SCHOOL      | Santa Monica     | Los Angeles |       195 |         38 |         15 |          0.194872 |

*Note*: A high school *sends* a student to Berkeley when that student **enrolls** in the university.
<!--
BEGIN QUESTION
name: q3c
points: 3
-->

In [ ]:
top_lac_schools = ...
top_lac_schools

In [ ]:
grader.check("q3c")

---
## Question 3d – Which schools in Alameda county sent more than 20 students?

Below, assign `big_alameda` to a table containing all of the columns of `schools_acc`, but only the rows corresponding to schools in Alameda county that sent more than 20 students to Berkeley. Don't sort.

_Hint_: You can use `.where` multiple times if there are multiple conditions you want to be true; that's what you'll need to do here.

<!--
BEGIN QUESTION
name: q3d
points: 2
-->

In [ ]:
big_alameda = ...
big_alameda

In [ ]:
grader.check("q3d")

---
## Question 3e – How many students applied from schools in the Bay Area? 

<img src='https://upload.wikimedia.org/wikipedia/commons/b/bc/Bayarea_map.png' width=400>

The Bay Area consists of the nine counties `'San Francisco'`, `'San Mateo'`, `'Santa Clara'`, `'Alameda'`, `'Contra Costa'`, `'Solano'`, `'Napa'`, `'Sonoma'`, and `'Marin'`.

Below, you have two tasks.
1. Assign `bay_schools` to a table with the same columns as `schools_acc`, but only with rows corresponding to schools in the Bay Area. You should do this by first creating an array of the names of the nine Bay Area counties, and then use `.where` with `are.contained_in` to filter just the relevant rows from `schools_acc`. Don't sort.
2. Assign `bay_acc_rate` to the overall acceptance rate of students from the Bay Area. **This requires a new calculation, you can't just look at the `'Acceptance Rate'` column in your table.** 

_Hint_: How did we calculate the overall acceptance rate in Question 1?

<!--
BEGIN QUESTION
name: q3e
points: 4
-->

In [ ]:
bay_counties = ...
bay_schools = ...
bay_acc_rate = ...

# Don't change anything below this comment, it's just for visualization
display(bay_schools)
print(f"Bay Area Acceptance Rate: {bay_acc_rate}")

In [ ]:
grader.check("q3e")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 2: US Food Chains

<br></br>
<hr style="border: 1px solid #fdb515;" />

## Understanding The Data

In this assignment we will explore 2020 restaurant rankings from [Restaurant Business Online](https://www.restaurantbusinessonline.com) (RBO). The `chains` table contains information about the 250 largest restaurant chains in the US, sorted by sales `'Sales'` in decreasing order. 

Run the cell below to take a look at the `chains` table, and [click here](https://www.restaurantbusinessonline.com/top-500-chains) to see the ranking on RBO's website.

*Note*: Here, sales are measured in millions, so McDonald's sales value of `40412` really means \$40.4 billion dollars.

In [ ]:
chains = Table.read_table('data/Top250.csv')
chains

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 4 – Chains 

Let's start by asking questions about the `chains` table. The `chains` table has many columns that we aren't going to look at. Below, we've modified `chains` so that it only has the columns `'Rank'`, `'Restaurant'`, `'Sales'`, `'YOY_Sales'`, and `'Segment_Category'`.

In [ ]:
# Just run this cell
chains = chains.select('Rank', 'Restaurant', 'Sales', 'YOY_Sales', 'Segment_Category')
chains

---
## Question 4a - What are the most popular segment categories in `chains`?

Below, assign `segment_counts` to a table with two columns, `'Segment_Category'` and `'count'`. Each row should correspond to one `'Segment_Category'`, and `'count'` should describe the number of restaurants with that `'Segment_Category'` in `chains`. Your table should be sorted by `'count'` in decreasing order, so that the first row corresponds to the most common segment category.

The first five rows of `segment_counts` should look like this:

| Segment_Category       |   count |
|-----------------------:|--------:|
| Varied Menu            |      22 |
| Mexican                |      14 |
| Quick Service & Burger |      13 |
| Burger                 |      10 |
| Family Style           |      10 |

_Hint_: Use the `group` and `sort` methods, in that order

<!--
BEGIN QUESTION
name: q4a
points: 2
-->

In [ ]:
segment_counts = ...
segment_counts

In [ ]:
grader.check("q4a")

---
## Question 4b

In the previous question, we determined that the segment category that appeared most often was `'Varied Menu'`. It's not immediately obvious what that means!

Below, assign `varied_menu_only` to a table with only the rows in `chains` where the segment category was `'Varied Menu'`. Don't sort or make any other modifications.

<!--
BEGIN QUESTION
name: q4b
points: 1
-->

In [ ]:
varied_menu_only = ...
varied_menu_only

In [ ]:
grader.check("q4b")

<!-- BEGIN QUESTION -->

---
## Question 4c

Comment on the restaurants you see in the `varied_menu_only` table above. Touch on the following points:
- What is the overall rank of the highest ranked `'Varied Menu'` restaurant?
- Have you heard of any of these restaurants before? Have you been to any of them?
- Google some of the top few restaurants to get a sense of the kind of food and drink they serve and whether they're fast-food or sit-down. Come up with a single sentence that describes the majority of these restaurants.

We're not looking for anything specific here – we really just want to make sure you're thinking about what the data represents, rather than viewing it as a bunch of numbers.

<!--
BEGIN QUESTION
name: q4c
points: 2
manual: true
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 4d

So far, we haven't really looked at the `'YOY_Sales'` column in `chains`. Remember, the values in `'YOY_Sales'` tell us the percentage change in sales from 2019 to 2020 for each restaurant chain (YOY means "Year-over-Year"); a `'YOY_Sales'` value of 8.6% means the restaurant earned 8.6% more in sales in 2020 than it did in 2019.

In [ ]:
# Outputs the first 'YOY_Sales' value in our `chains` table
chains.column('YOY_Sales').item(0)

Since the values in the `'YOY_Sales'` column are stored as strings, not numbers, we can't reliably sort by `'YOY_Sales'`. (Try it out – if you sort by `'YOY_Sales'` in decreasing order, it will tell you the highest `'YOY_Sales'` any restaurant had was 9.9%, though there are several restaurants with `'YOY_Sales'` values of over 10%.)

In [ ]:
# Use this cell for experimentation, if you want!

We're going to try something different. Instead of converting `'YOY_Sales'` into a number, we're going to place the values in `'YOY_Sales'` into one of five categories:

| Growth Category | Year-over-Year Sales (\%) |
| --- | --- |
| `'rapid increase'` | $\geq 10$ |
| `'steady increase'` | $[2.5, 10)$ |
| `'stagnant'` | $[-2.5, 2.5)$ | 
| `'steady decrease'` | $[-10, -2.5)$ |
| `'rapid decrease'` | $< -10$ |

*Note*: If you're not familiar with this notation, $[a, b)$ means greater than or equal to $a$ and less than $b$.

### `str_to_cat`  function 

To help you out, we've defined a function, `str_to_cat`, that takes in a percentage string and returns the corresponding growth category according to the above table. Example behavior is shown below.

```python
>>> str_to_cat('-15.8%')
'rapid decrease'

>>> str_to_cat('4.8%')
'steady increase'
```

In [ ]:
# Just run this cell to load the function
def str_to_cat(pct_str):
    """Converts a percent string to a category"""
    pct_float = float(pct_str.replace('%', ''))
    category_dict = {
        'rapid increase': 10,
        'steady increase': 2.5,
        'stagnant': -2.5,
        'steady decrease': -10,
        'rapid decrease': -100
    }
    
    for cat, val in category_dict.items():
        if pct_float >= val:
            return cat

**Task**: Your job is to apply the `str_to_cat` function to the appropriate column in `chains` so that an array of growth categories is returned. Then, create a new table called `chains_growth` with all of the columns in `chains` *plus* a new sixth column, `'Growth Category'`, with the aforementioned array. 

The first few rows of `chains_growth` should look like this:

|   Rank | Restaurant   |   Sales | YOY_Sales   | Segment_Category            | Growth Category   |
|-------:|-------------:|--------:|------------:|----------------------------:|------------------:|
|      1 | McDonald's   |   40412 | 4.9%        | Quick Service & Burger      | steady increase   |
|      2 | Starbucks    |   21380 | 8.6%        | Quick Service & Coffee Cafe | steady increase   |
|      3 | Chick-fil-A  |   11320 | 13.0%       | Quick Service & Chicken     | rapid increase    |
|      4 | Taco Bell    |   11293 | 9.0%        | Quick Service & Mexican     | steady increase   |
|      5 | Burger King  |   10204 | 2.7%        | Quick Service & Burger      | steady increase   |


<!--
BEGIN QUESTION
name: q4d
points: 3
-->

In [ ]:
chains_growth = ...
chains_growth

In [ ]:
grader.check("q4d")

---
## Question 4e

Now that our table has two categorical columns – `'Segment_Category'` and `'Growth Category'` – we can pivot it! Remember, pivoting is an alternative to grouping by two columns, which we can also do. However, if we were to create a **pivot table** where the rows were specified by the unique values in the `'Segment_Category'` column, we'd have 48 rows in our new table. Constructing such a table at that size gets unwieldy.

To fix this, we've created a new table, `common_chains`, which contains the same labels as `chains_growth`, but only with chains whose segment category is shared by at least 9 other chains (i.e. only the segment categories that have 10 or more restaurants). Run the following cell to load the `common_chains` table.

In [ ]:
common_chains = Table.read_table("data/common_chains.csv")
common_chains

**Task**: Pivot `common_chains` to create a new table, `common_chains_pivoted`, with a row for each segment category and a column for each growth category. The entries in `common_chains_pivoted` should describe the **average ranking** for a given combination of segment category and growth category. The first few rows of `common_chains_pivoted` should look like this:

| Segment_Category       | rapid decrease | steady decrease | stagnant | steady increase | rapid increase |
|-----------------------:|---------------:|----------------:|---------:|----------------:|---------------:|
| Burger                 | 183            | 134.667         | 187      | 184             | 249     |
| Family Style           | 168            | 165             | 181.5    | 184             | 161.5   |


*Note*: An issue you will face is that the columns of your pivoted table will be in alphabetical order by default; you must fix this so that they are in the order shown above. Use `select` to help you here; try and see if you can do this using column indexes instead of column labels!

<!--
BEGIN QUESTION
name: q4e
points: 4
-->

In [ ]:
common_chains_pivoted = ...
common_chains_pivoted

In [ ]:
grader.check("q4e")

# Done!

Congrats! You've finished another Data 6 homework assignment! To submit your work, follow the steps outlined on the [submissions](https://data6.org/su22/submissions/) page.

This homework is out of **37 points**. The point breakdown for this assignment is given in the table below:

| **Category** | Points |
| --- | --- |
| Autograder | 33 |
| Written | 4 |
| **Total** | 37 |

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export()